#dropzone {
	border: 2px dashed #ccc;
	width: 300px;
	height: 200px;
}

.upload-drop-zone {
	    height: 41px;
    border-width: 4px;
    margin-bottom: 0px;
}

/* skin.css Style*/
.upload-drop-zone {
	color: #ccc;
	border-style: dashed;
	border-color: #ccc;
	line-height: 32px;
	text-align: center
}

.upload-drop-zone.drop {
	color: #222;
	border-color: #222;
}
.table-nowrap td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
body{
background-color:#42383826
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px 0;
    border-radius: 4px;
}

.currentSelected{
	background:rgba(60, 141, 188, 0.58);
    color:#fff;
}
.currentSelected a{
color:#fff
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #dcd7d78a;
}