
<!doctype html>
<html lang="en"  ng-app="eatSafeApp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"	href="components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" 	href="components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"	href="css/AdminLTE.min.css">
<link rel="stylesheet" type="text/css"	href="css/app.css">
<script type="text/javascript" 	src="components/jquery/dist/jQuery-2.1.4.min.js"></script>
<script type="text/javascript" 	src="components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls-0.10.0.js" ></script>
<script type="text/javascript" src="js/paging.js" ></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/drop-controller.js"></script>
<script type="text/javascript" src="js/services/csv-service.js"></script>
<script type="text/javascript" src="js/services/eatsafe-service.js"></script>
<script type="text/javascript" src="js/constants/constants.js"></script>
<script type="text/javascript" src="js/jstorage.js"></script>
</head>
<body>
   <div ng-controller="dropController">
   <div class="row">
   <div class="col-md-12">
	<div class="col-md-3">
		<div class="box box-info">
		   <div class="box-header with-border">
              <h3 class="box-title">CSV DROP ZONE</h3>
              <div class="box-tools pull-right">
               <select type="dataselect" name="dataselect" class="form-control">
               <option value="establishment" selected>Establishment</option>
               <option value="inspection">Inspection</option>
               </select>
              </div>
            </div>
			 <div class="box-body">
				<div class="upload-drop-zone" id="drop-zone">Drop CSV Files
				<!-- <a href ng-click="getContents()" id="btnView" class="btn btn-primary pull-right">View Files</a>	 -->
				</div>
			</div>
			<div class="box-footer">
				 <div class="col-md-4">
					<span class="badge"></span>
				</div>
			</div>
		</div>
		<div class="box box-info">
            <div class="box-header with-border">
				<strong>CSV - DB COLUMN MAPPING</strong>
			</div>
			<div class="box-body">
				<div class="table-responsive" style="height:320px">
				<table class="table table-striped">
					<tbody>
						<tr><th>CSV Columns</th><th>DB Columns</th></tr>
						<tr ng-repeat="(k,v) in csvData.header">
							<td>{{v}}
							</td>
							<td>
							<select name="csvSelect{{$index}}" id="csvSelect{{$index}}"  class="form-control" ng-click="getCurrentVal($index)"
								ng-model="selectedMap[$index]" ng-change="populatedDataMap($index,selectedMap[$index], k,v)">
							    <option value="">Select Column</option>
								<option ng-repeat="val in dbColsArray"  value="{{val}}">
           							{{val}}
       							</option>
							</select>
							<!-- 	<select name="csvSelect{{$index}}" id="csvSelect{{$index}}" 
								 class="form-control" ng-model="selectedMap[$index]" 
								ng-change="toggleDBColsArray($index,selectedMap[$index], k,v)">
								 <option value="">Select Column</option>
								<option ng-repeat="val in csvData.header"  value="{{val}}">
           							{{val}}
       							</option>
							   </select> -->
							</td>
						</tr>
					</tbody>
				</table>
				</div>	
			</div>
			<div class="box-footer">
				<div class="col-md-12">
					<a href ng-click="getCSVDBMap()" id="mapBtn" class="btn btn-primary pull-right">View Mapped Object</a>	
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
	 <div class="row">
	 	<div class="col-md-12">
		<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title" ng-if="csvFile!=null">{{csvFile}}</h3>
               <h3 class="box-title" ng-if="csvFile==''">File Content</h3>
              <div class="box-tools pull-right">
                	<div class="pull-right">
             	  		<input type="number" min="1" max="{{csvData.rowObj.length}}" class="form-control" ng-model="pageSize">
             	 </div>
              </div>
            </div>
            <div class="box-body">
              <div class="table-responsive" style="height:470px">
              	<input type="text" ng-model="search"  class="form-control" placeholder="Search by any column" />
                <table class="table table-striped table-nowrap">
                	<tbody>
						<tr>
							<th ng-repeat="(k,v) in csvData.header">{{v}}</th>
						</tr>
						<!-- <tr ng-repeat="val in filtered = csvData.rowObj | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit ">
							<td ng-repeat="(k,v) in val.obj">{{v.v}}</td>
						</tr> -->
						
						<tr dir-paginate="val in  csvData.rowObj | filter:search | itemsPerPage: pageSize" current-page="currentPage" 
						ng-class="{'currentSelected': val.selected}" ng-click="selectRecord(val)">
							<td ng-repeat="(k,v) in val.obj">{{v.v}}</td>
						</tr>
					</tbody>
                </table>
              </div>
            </div>
            <div class="box-footer clearfix" ">
	<div class="col-md-6" >
		<dir-pagination-controls boundary-links="true"
			on-page-change="pageChangeHandler(newPageNumber)" ng-if="csvData.rowObj.length>0">
		<ul class="pagination" ng-if="1 < pages.length || !autoHide">
			<li ng-if="boundaryLinks"
				ng-class="{ disabled : pagination.current == 1 }"><a
				href="" ng-click="setCurrent(1)">&laquo;</a></li>
			<li ng-if="directionLinks"
				ng-class="{ disabled : pagination.current == 1 }"><a
				href="" ng-click="setCurrent(pagination.current - 1)">&lsaquo;</a>
			</li>
			<li
				ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)"
				ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
				<a href="" ng-click="setCurrent(pageNumber)">{{
					pageNumber }}</a>
			</li>

			<li ng-if="directionLinks"
				ng-class="{ disabled : pagination.current == pagination.last }">
				<a href="" ng-click="setCurrent(pagination.current + 1)">&rsaquo;</a>
			</li>
			<li ng-if="boundaryLinks"
				ng-class="{ disabled : pagination.current == pagination.last }">
				<a href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
			</li>
		</ul>
		</dir-pagination-controls>
	</div>
	   <div class="col-md-4" >
			<a href  class="btn btn-primary pull-right" ng-if="csvData.records>0">Total Records: {{csvData.records}}</a>	
			<a href  class="btn btn-primary pull-right" ng-if="csvData.records==0">No Records available</a>
		</div>
		<div class="col-md-2" >
			<a href  class="btn btn-primary pull-right" ng-click="saveData()">SAVE</a>	
		</div>
         </div>
       </div>
       </div>
       </div>
	</div>
	</div>
	</div>
	</div>
</body>
</html>