<style>
:root { -
	-input-padding-x: 1.5rem; -
	-input-padding-y: .75rem;
}


.card-signin {
	border: 0;
	border-radius: 0rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 1.5rem;
}

.card-signin .card-body {
	padding: 2rem;
}

.form-signin {
	width: 100%;
}

.form-signin .btn {
	font-size: 80%;
	border-radius: 5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	padding: 1rem;
	transition: all 0.2s;
}

.form-label-group {
	position: relative;
	margin-bottom: 1rem;
}

.form-label-group input {
	height: auto;
	/*  border-radius: 2rem; */
	padding-top: 22px
}

/* .form-label-group>input,
.form-label-group>label {
  padding-left: 15px;
  padding-right: 15px;
} */
.form-label-group>label {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0;
	/* Override default `<label>` margin */
	line-height: 1.5;
	color: #e4e8ec;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
	color: transparent;
}

.form-label-group input:-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-moz-placeholder {
	color: transparent;
}

.form-label-group input::placeholder {
	color: transparent;
}

.btn-google {
	color: white;
	background-color: #ea4335;
}

.btn-facebook {
	color: white;
	background-color: #3b5998;
}

.btn, .btn-large, .btn-flat {
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	outline: 0;
	padding: 0 2rem;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
}

nav {
	color: #444;
	background-color: #fff;
}

.card {
	border-radius: 0px;
	    margin: 1.5rem 0 1rem 0;
}

.btn-success {
	color: #fff;
	background-color: #41b55f;
}

.btn-danger {
	color: #fff;
	background-color: #c70707;
}

.btn-info {
	color: #fff;
	background-color: #73a6d2;
}

.btn-warning {
	color: #fff;
	background-color: #f39c12;
}
.card-image, .card-content{
    margin-top: 10px;
}
.modal{
background-color: rgba(0,0,0,0) !important;
 box-shadow: 0px !important;
}

</style>

<div class="row" ng-controller="InspectionController">
	<div class="col-sm-3 col-md-7 col-lg-3 mx-auto">
		<div class="card card-signin my-5">
			   <h5 class="card-title text-center">
					Create Inspection
				</h5>
				<div class="card-body" style="    margin-top: -60px;">
					<div class="box-body">
				<strong><i class="fa fa-book margin-r-5"></i> Select
					Information Type</strong> <select type="dataselect" name="dataselect"
					ng-model="selectedOption" class="form-control"
					ng-change="getOptionSelection(selectedOption)">
					<option value="" selected>Choose your Option</option>
					<option value="establishment">Establishment</option>
					<option value="inspection">Inspection</option>
				</select>
			<!-- 	<div class="upload-drop-zone" id="drop-zone" ng-model="files">Drop
					CSV Files</div> -->
					
					<strong><i class="fa fa-book margin-r-5"></i> Select States</strong>
				<select type="select" id="stateselect" name="stateselect"
					ng-model="selectedStateOption" class="form-control"
					ng-change="getStateSelection(selectedStateOption)">
				</select> <strong><i class="fa fa-map-marker margin-r-5"></i> Select
					Establishment</strong> <select type="select" name="establishmentselect"
					id="establishmentselect" ng-model="selectedEstablishmentsOption"
					class="form-control"
					ng-change="getEstablishmentSelection(selectedEstablishmentsOption)">
				</select>
				<p class="text-muted">{{establishments.selected.address}}</p>
				<p class="text-muted">{{establishments.selected.owner}}</p>
				<strong ng-if="establishments.selected.id!=null"><i
					class="fa fa-pencil margin-r-5"></i>Establishment Type</strong>
				<p ng-if="establishments.selected.id!=null">
					<span class="label label-info">{{establishments.selected.typeDesc}}</span>
					<span class="label label-success">Status:
						{{establishments.selected.status}}</span>
				</p>
				<a href="#" class="btn btn-primary btn-block"
					ng-if="establishments.selected.id!=null"
					ng-click="generateInspectionForm();"><b>GENERATE</b></a>
			</div>
			<div class="box-footer">
				<div class="col-md-4">
					<span class="badge"></span>
				</div>
			</div>
				</div>
		</div>
	</div>
	
	<div class="col-sm-3 col-md-7 col-lg-3 mx-auto">
		<div class="card card-signin my-5">
			   <h5 class="card-title text-center">
					Establishment Details
				</h5>
				<div class="card-body" style="    margin-top: -60px;">
					<div class="box-body">
				<strong><i class="fa fa-book margin-r-5"></i> Food Facility</strong>
				<p class="help-block">{{establishments.selected.name}}</p>
				<hr>
				<strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>
				<p class="help-block">{{establishments.selected.address}}</p>
				<hr>
				<strong><i class="fa fa-book margin-r-5"></i> Telephone</strong>
				<p class="help-block">{{establishments.selected.phone}}</p>
				<hr>
				<strong><i class="fa fa-book margin-r-5"></i> Establishment
					Type</strong>
				<p class="help-block">{{establishments.selected.typeDesc}}</p>
				<hr>
				<strong><i class="fa fa-book margin-r-5"></i> District</strong>
				<p class="help-block">{{establishments.selected.typeDesc}}</p>
				<hr>
				<strong><i class="fa fa-book margin-r-5"></i> Sub</strong>
				<p class="help-block">{{establishments.selected.typeDesc}}</p>
				<hr>
				<strong><i class="fa fa-book margin-r-5"></i> Licensee</strong>
				<p class="help-block">{{establishments.selected.typeDesc}}</p>
				<hr>
				<strong><i class="fa fa-book margin-r-5"></i> Corporate
					Officer</strong>
				<p class="help-block">{{establishments.selected.typeDesc}}</p>
				<hr>
				<strong><i class="fa fa-book margin-r-5"></i> Purpose of
					Inspection</strong>
				<p class="help-block">{{establishments.selected.typeDesc}}</p>
				<hr>
				<strong><i class="fa fa-book margin-r-5"></i> Inspection
					Type</strong>
				<p class="help-block">{{establishments.selected.typeDesc}}</p>
				<hr>
			</div>
				<div class="box-footer"></div>
			</div>
		</div>
	</div>
	<div class="col-sm-9 col-md-5 col-lg-6 mx-auto">
		<div class="card card-signin my-5">
			<h3 class="card-title text-center" style="font-size: 17px;">FOODBORNE ILLNESS RISK FACTORS AND PUBLIC HEALTH INTERVENTIONS</h3>
					<a href class="btn btn-primary text-uppercase" data-toggle="modal" style="margin-left: 40px;"
					ng-click="createNewInspectionRecord()"> <b>Add Criteria</b></a>
					 <div class="pull-right btn-box-tool" >
                           <a href class="btn-floating halfway-fab waves-effect waves-light green" 
                           ng-click="inspectionFormData('ADD','NA', 0)" style="margin-right: 46px;">
                 			 <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i> <b>Add</b> </a>
                          </div>
			</div>
			<div class="card-panel" style="  margin-top: -60px;">
			<div class="box-body no-padding">
				<div class="col-xs-12 col-md-12">
				<div class="post" ng-repeat="(key,val) in complianceRecords.finalList" style="    background-color: #f5f5f5;
    padding: 10px;">
                  <div class="user-block">
                        <span class="username" style=" margin-left: 0px;">
                         <b>{{val.title}}</b>
                          <div class="pull-right btn-box-tool" >
                          <a href ng-click="inspectionFormData('UPDATE', val, key)" 
							class="btn-floating halfway-fab waves-effect waves-light red">
							<i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
						 </a>
                          </div>
                           
                        </span>
                  </div>
                   <div class="card blue-grey darken-1" style="background-color: #fff !important;">
        		<div class="card-content white-text">
                  <div ng-repeat="(k,v) in val.descriptions">
                     <span class="username" style=" margin-left: 0px;color:#000">
                          <span > {{v.text}}</span>
                  		 <div class="pull-right btn-box-tool" style="margin-right: -20px;">
                  		 <a href  ng-click="manageDescription('UPDATE', v,val,k)">
							<i class="fa fa-pencil " aria-hidden="true"></i>
						 </a>
						 <a href   ng-click="manageDescription('DELETE', v,val,k)">
							<i class="fa fa-trash " aria-hidden="true"></i>
						 </a>
                          </div>
                    
                  </span>
					<table classs="table" style="margin-left: -20px;">
						<tr>
						<td style="text-align:center" ng-repeat="val2 in inspectionForm.checkedValue" ng-if="val2!='NO'">
						{{val2}}
						 <div class="switch">
					  <label>
					    <input type="checkbox" checked>
					    <span class="lever"></span> 
					  </label>
					</div>
					</td>
					</tr>
					</table>
                  </div>
                  <a href class="btn-floating halfway-fab waves-effect waves-light blue " style=" margin-right: -16px;"
                   ng-click="manageDescription('ADD','NULL', val, rule )">
                  <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a>
                  
                  <a href class="btn-floating halfway-fab waves-effect waves-light orange pull-right" 
                  style=" margin-right: -16px;" ng-click="inspectionFormData('DELETE', val, key)">
                  <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></a>
                </div>
				</div>
				</div>
				</div>
			</div>
			
			<div class="box-footer">
				<a href class="btn btn-primary" data-toggle="modal" ng-if="selectedOption=='inspection'"
					ng-click="saveInspection()"><b>Save Inspection</b></a>
			</div>
			</div>
		</div>
			<div class="modal fade" id="inspectionModal" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header" style="padding: 6px;">
								<h5 class="modal-title" id="exampleModalLabel"
									style="font-size: 19px">Update Inspection Criteria</h5>
							</div>
							<div class="modal-body">
								<div>
									<strong> <i class="fa fa-book margin-r-5"></i>
										Compliance Status
									</strong>
									<hr style="margin-top: 0px; margin-bottom: 7px;">
									<input type="checkbox" class="form-check-input" id="nadata"
										ng-true-value="'N/A'" ng-false-value="'NO'"
										ng-model="inspectionForm.checkedValue[0]"> <label
										class="control-label" for="nadata">N/A</label> <strong><input
										type="checkbox" class="form-check-input" id="nodata"
										ng-true-value="'N/O'" ng-false-value="'NO'"
										ng-model="inspectionForm.checkedValue[1]"> <label
										class="control-label" for="nodata"> N/O</label></strong> <strong><input
										type="checkbox" class="form-check-input" id="cosdata"
										ng-true-value="'COS'" ng-false-value="'NO'"
										ng-model="inspectionForm.checkedValue[2]"> <label
										class="control-label" for="cosdata"> COS</label></strong> <strong><input
										type="checkbox" class="form-check-input" id="rvdata"
										ng-true-value="'R'" ng-false-value="'NO'"
										ng-model="inspectionForm.checkedValue[3]"> <label
										class="control-label" for="rvdata"> R</label></strong>
								</div>
								<!--  <input type="hidden" class="form-control" ng-model="inspectionForm.header"  style="font-size: 1.2em;">
					       <strong><i class="fa fa-book margin-r-5"></i> Row Id</strong>
					       <input type="text" class="form-control" ng-model="inspectionForm.id" style="font-size: 1.2em;">
					       <strong><i class="fa fa-book margin-r-5"></i> Title</strong>
					       <input type="text" class="form-control" ng-model="inspectionForm.title" style="font-size: 1.2em;">
					       <strong><i class="fa fa-book margin-r-5"></i> Description</strong>
					       <textarea  class="form-control" ng-model="inspectionForm.description" style="font-size: 1.2em; width:100%"></textarea>
					        <strong><i class="fa fa-book margin-r-5"></i> Inspection Legends</strong>
					        <hr> -->
							</div>
							<div class="modal-footer text-center">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal" id="closeBtn">Close</button>
								<button type="button" class="btn btn-primary"
									ng-click="saveInspectionForm()" id="commitBtn">Save
									changes</button>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="inspectionDataModal" tabindex="-1"
					role="dialog" aria-labelledby="inspectionDataModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header" style="padding: 6px;">
								<h5 class="modal-title" id="inspectionDataModalLabel"
									style="font-size: 19px">Add Inspection Title</h5>
							</div>
							<div class="modal-body">
								<input type="hidden" class="form-control"
									ng-model="inspectionForm.header" style="font-size: 1.2em;">
								<!-- <strong><i class="fa fa-book margin-r-5"></i> Row Id</strong> <input
									type="text" class="form-control" ng-model="complianceData.id"
									style="font-size: 1.2em;"> <strong> --><i
									class="fa fa-book margin-r-5"></i> Title</strong> <input type="text"
									class="form-control" ng-model="complianceData.title.text"
									style="font-size: 1.2em;"> 
								<hr>
							</div>
							<div class="modal-footer text-center">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal" id="closeCompBtn">Close</button>
								<button type="button" class="btn btn-primary"
									ng-click="saveAndGenerateFormData()" id="commitCompBtn">Save
									changes</button>
							</div>
						</div>
					</div>
				</div>
				
					<div class="modal fade" id="inspectionDataDescModal" tabindex="-1"
					role="dialog" aria-labelledby="inspectionDataDescModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header" style="padding: 6px;">
								<h5 class="modal-title" id="inspectionDataDescModalLabel"
									style="font-size: 19px">Add Description</h5>
							</div>
							<div class="modal-body">
								<i	class="fa fa-book margin-r-5"></i> Title</strong> <input type="text"
									class="form-control" ng-model="inspection.description"
									style="font-size: 1.2em;"> 
								<hr>
							</div>
							<div class="modal-footer text-center">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal" id="closeDescBtn">Close</button>
								<button type="button" class="btn btn-primary"
									ng-click="saveOrUpdateDescription()" id="commitDescBtn">Save
									changes</button>
							</div>
						</div>
					</div>
				</div>
	</div>
